---
layout: default
title: Overview
---

<h2><a href="what.html">What?</a></h2>

<h2>Acknowledgements</h2>

<p>PIG is a senior project by Chris Becerra, Andy Freeland, Jonathan Garnaas-Holmes, Denis Grifis, and Tsusa Matsui. <a href="who.html">Who?</a></p>

<p>Mike Tie, Rich Graves, and Sherri Goings provided moral, academic, and technical support. Thanks guys!</p>

<p>Logo by Megan Dolezal. It's really awesome. You can check out more of her work at <a href="http://carletongraphic.com/">The Carleton Graphic</a> or <a href="mailto:dolezalm@carleton.edu">email her</a>.</p>

<p>Design inspired by <a href="http://necolas.github.com/normalize.css/">Normalize.css</a>.</p>

<p>Navigation from <a href="http://openclipart.org/detail/9009/johnny_automatic_hog_1">Open Clip Art</a>.</p>
