img#logo{
    margin: 0;
    padding: 0;
}

a:active,
a:focus{
	/* Give clicked links a depressed effect. */
	position:relative;
	top:1px;
}

pre#clone:before{
    content:"$ " ;
}
html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    max-width: 480px;
    padding: 0 10px 30px;
    margin: 0 auto;
    font: 1em/1.5 Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #222;
    background: #fff;
    _width: 480px;
}

img {
    border: 0;
}

a {
    font-weight:bold;
    text-decoration: none;
    color: #6ead1a;
}

a:focus {
    outline: thin dotted;
}

a:hover,
a:active {
    outline: 0;
}

a:hover,
a:focus,
a:active {
    text-decoration: underline;
    color: #569107;
}

@font-face{
    font-family: "Essay1743";
    src: url("fonts/essays1743/Essays1743.woff");
}

nav ul {
    position:relative;
    background-image:url("../img/pig-nav.png");
    width:480px;
    height:257px;
}

nav ul:hover {
    background-image:url("../img/pig-nav-color.png");
}

nav a {
    color: #000000;
    font-size: 29px;
    font-family: "Essay1743";

    position:absolute;
}

nav a:hover {
    text-decoration:none;
}

nav li {
    position:absolute;
}

nav li a {
    font-weight: normal;
}


nav #who:hover {
    background-image:url("../img/rump.png");
}
nav #who {
    width:135px;
    height:253px;
    top:-4px;
    left:25px;
}

nav #what:hover {
    background-image:url("../img/back.png");
}
nav #what {
    width:112px;
    height:99px;
    top:-4px;
    left:130px;
}

nav #why:hover {
    background-image:url("../img/shoulder.png");
}
nav #why {
    width:115px;
    height:101px;
    top:-5px;
    left:219px;
}

nav #use:hover {
    background-image:url("../img/hoof.png");
}
nav #use {
    width:110px;
    height:169px;
    top:83px;
    left:222px;
}

nav #code:hover {
    background-image:url("../img/gut.png");
}
nav #code {
    width:155px;
    height:105px;
    top:79px;
    left:96px;
}

nav #who a {
    top:41px;
    left:37px;
}
nav #what a {
    top:21px;
    left:25px;
}
nav #why a {
    top:21px;
    left:21px;
}
nav #use a {
    top:8px;
    left:17px;
}
nav #code a {
    top:21px;
    left:51px;
}

strong {
    font-weight: bold;
}

code,
pre {
    font-family: consolas, monospace;
    font-size: 1em;
}

pre {
    display: block;
    padding: 5px;
    margin: 1em 0;
    font-size: 13px;
    color: #fff;
    background: #222;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

ul {
    list-style: square;
    padding: 0;
    margin: 0 0 1.4em;
}

li {
    margin: 0.35em 0;
}

h1,
h2 {
    line-height: 1.2;
}

h1 {
    margin: 0.25em 0 0.5em;
    font-size: 3.5em;
}

h2 {
    margin: 1.25em 0 0.5em;
    font-size: 1.5em;
}

p {
    margin: 0 0 1em;
}

/* structure */

.hgroup h1 {
    margin-bottom: 0;
}

.hgroup h2 {
    margin: 0 0 2em;
    font-size: 1em;
    color: #555;
}

.cta {
    margin:1em 0 4em;
}

.cta p {
    margin: 0.5em 0 0;
    font-style: italic;
}

.button {
    position: relative;
    display: inline-block;
    padding: 0.4em 1em;
    border: 1px solid #487310;
    margin: 20px 5px 0 0;
    font-size: 1.375em;
    line-height: 1.273;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    color: #555;
    background: #f5f5f5;
    background-image: -webkit-linear-gradient(rgba(255,255,255,0), rgba(0,0,0,0.1));
    background-image: -moz-linear-gradient(rgba(255,255,255,0), rgba(0,0,0,0.1));
    background-image: -ms-linear-gradient(rgba(255,255,255,0), rgba(0,0,0,0.1));
    background-image: -o-linear-gradient(rgba(255,255,255,0), rgba(0,0,0,0.1));
    /* IE6/7 inline-block hack */
    *display: inline;
    *zoom: 1;
}

.button:hover,
.button:focus,
.button:active {
    text-decoration: none;
    border-color: #c6c6c6;
    color: #333;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    background-color: #f8f8f8;
}

.button:focus {
    border-color: #105cb6;
    outline: 0;
}

.button:active {
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    background-color: #eee;
}

.button-main {
    border-color: #5e9612;
    color: #fff;
    background-color: #69a619;
}

.button-main:hover,
.button-main:focus,
.button-main:active {
    border-color: #558713;
    color: #fff;
    background-color: #6ead1a;
}

.button-main:active {
    background-color: #5D9117;
}

@media screen and (max-width:480px) {
    body {
        font-size: 0.875em;
    }

    h1 {
        font-size: 3em;
    }
}
